/* Configuration Center
Theming by the base Qt widget style and palette */

QToolTip {
    color: #000000;
    background: #dcdcdc;
    border: 1px solid #000000;
    padding: 1px;
    margin: 0px;
}
