Notification {
    color: #000000;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    background: #edeff2;
    margin: 0px;
}

QLabel {
    color: #000000;
}

#closeButton {
    border: none;
    qproperty-icon: url(lxqt-notificationd/cancel.svg);
}

#closeButton:hover {
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    background: #f5f5f5;
    qproperty-icon: url(lxqt-notificationd/cancel.svg);
}

#appLabel {
    font-weight: bold;
}
