/* Configuration Center
Theming by the base Qt widget style and palette */

QToolTip {
    color: #ffffff;
    background: #232323;
    border: 1px solid #000000;
    padding: 1px;
    margin: 0px;
}
