/* Configuration Center
Theming by the base Qt widget style and palette */

QToolTip {
    color: #1f1f1f;
    background: #eeeee6;
    border: 1px solid #1f1f1f;
    padding: 1px;
    margin: 0px;
}
